.aboutPage {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: .3rem;
    border: 1px solid gray;
    border-radius: .5rem;
    box-shadow: 0 0 5px rgb(88, 87, 87);

    color:rgb(53, 53, 53);
    
}

.leftSide {
    width: 65%;
    font-size: 1.2rem;
    color: black
}
.leftSide img {
    margin: 0 auto;
}


.rightSide {
    width: 32%;
    border-left: 1px dashed gray;
    padding-left: 1rem;
    font-size:1rem;
}
.rightSide .stick {
    position: sticky;
    top: 1.5rem;
}
.rightSide .inputGoogle {
    padding: 5px;
    border-color: gray;
    margin: 0;
}
.rightSide .inputGoogle::-webkit-input-placeholder {
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
}
.rightSide button {
    padding: 4px;
    border-radius: .4rem;
    border: 1px solid black;
    box-shadow: 0 0 5px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    width:auto;
    background-color: gray;
}
.rightSide .socialNet {
    display: flex;
    gap: .8rem;
    align-items: center;
}
.rightSide .socialNet img{
    width: 2.7rem;
}
.rightSide img:nth-child(3) {
    width: 3.2rem;
}
.rightSide img:nth-child(4) {
    width: 3rem;
}

.rightSide .chapterNew img{
    width: 50px;
    margin-right: .8rem;
}
.rightSide .chapterNew .brave{
    width: 65px;
}
.rightSide .chapterNew div{
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
}