.Header {
    min-height: 70vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    text-shadow: 0 0 20px rgba(255, 255, 255, .5);
    font-size: 3rem;
    font-family: 'Rubik Microbe', cursive;
    background-position: center;

}
.Header h1 {
    margin: 0;
}