.Header {
    min-height: 70vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    text-shadow: 0 0 20px rgba(255, 255, 255, .5);
    font-size: 3rem;
    font-family: 'Rubik Microbe', cursive;
    background-position: center;
    font-family: 'Water Brush', cursive;

}
.Header h1 {
    margin: 0;
    font-family: 'Tapestry', cursive;
}
.text-center {
    position: relative;
    z-index: 2;
}

.overlay {
    width: 100%;
    height: 79%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}