.Footer {
    background-color: rgb(131, 93, 43);               
    /* padding: 1rem; */
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 2.5rem;
    text-decoration: underline;
}
.Footer a {
    color:rgb(192, 187, 187)
}
.Footer div {
    display: flex;
    align-items: center;
    gap: 25px;
    color:rgba(196, 240, 223, 0.651)
}
.Footer img {
    width: 30px
}
.Footer .tele {
    width: 24px;
    height: 24px;
}
.Footer .wk {
    width: 25px;
    height: 25px;
}