footer {
    background-color: rgb(90, 88, 88);  
    color: rgb(196, 196, 196);
}

.w25p {
    width: 22%;
}
.mainFooter {
    gap: 2%;
}
.block-3 p {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2%;
    border-radius: 6px;
}
.block-3 p:hover {
    background-color: rgba(128, 128, 128, 0.247);
}
.socialNet {
    gap: 6%;
    margin: 0 auto;
}
.socialNet img {
    width: 15%;
    border-radius: 100%;
}

.block-2 img {
    width: 6%
}
.block-2 p {
    display: flex;
    align-items: center;
    gap: 2%;
}

.block-4 .images img {
    width: 18%;
    border: 1px solid gray;
    border-radius: 8%;
    margin-right: 1%;
}

.block-4 .images .img-1 {
    width: 31%;
}
.block-4 .images .img-3 {
    width: 14%;
}
.block-4 .images .img-4 {
    width: 32%;
}
.block-4 .images .img-5 {
    width: 32%;
}
.socialNet img:hover {
    width: 17%;
}