.NavItem a {
    display: block;
    padding: .4rem 1.5rem;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;

    display:flex;
    flex-direction: column;

  }
  .NavItem a img {
    width: 23px;
    margin: 0 auto;
  }
  .NavItem a.active {
    background-image: linear-gradient(to top right, rgb(87, 85, 85), rgb(116, 114, 114), rgb(90, 89, 89));
    box-shadow: 0 0 5px rgb(146, 146, 146)  ;
    border-radius: 5px;

  }
  .NavItem a:hover {
    background-color: rgba(255, 255, 255, .03);
    box-shadow: 0 0 1.5px darkgray;
  }