.Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(90, 88, 88);
    color: azure;
    padding: .1rem 1rem;
    font-size: 30px;  
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0 5px lightblue;

    z-index: 3;
    

    position: sticky;
    top: 0;
  }
  .Nav div {
    font-family: 'Square Peg', cursive;
    font-size: 2.6rem;
    font-weight: 600;
  }
  .Nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  .Nav a {
    display: block;
    padding:  1rem;
    height: auto;
    color: white;
    font-size: .8rem;
    text-decoration: none;
    font-size: 20px;  

  }
  .Nav a:hover {
    background-color: rgba(255, 255, 255, .1);
  }
 
  .Nav li {
    list-style-type: none;
  }


  @media (max-width: 675px) {
    .Nav ul {
      display: none
    }
  }
  
